html {
	height: 100%;
	width: 100%;
	background-color: #151415;
}

a {
	text-decoration: none;
}

#tabs {
	position: fixed;
	left: 50%;
	top: 50%;
	transform:  translate(-50%, -50%) scale(2);
	object-fit: contain;
	overflow-y: auto;
}

.tab {
	width: 210px;
	height: 250px;
	vertical-align: top;
	margin: 6px;
	padding: 20px;
	display: inline-block;
	
	transform: scale(1.0);
	transition-duration: 250ms;
}
.tab:hover {
	transform: scale(1.01);
}
.tab > img {
	width: 210px;
}

input[type=range] {
	height: 5%;
	/* appearance: none; */
	margin: 10px 0;
	width: 80%;
}
/* Styling for the slider thumb */
input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none; /* Removes default styling */
		appearance: none;
		width: 20px; /* Thumb width */
		height: 100%; /* Makes the thumb take the full height of the slider */
		background: #007bff; /* Thumb color */
		cursor: pointer;
		border-radius: 5px; /* Optional: rounded corners */
}

input[type=range]::-moz-range-thumb {
		width: 20px;
		height: 100%;
		background: #007bff;
		cursor: pointer;
		border-radius: 5px; /* Optional: rounded corners */
}
/* 
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000;
	background: #B6B6B6;
	border-radius: 25px;
	border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #828282;
	border: 3px solid #8A8A8A;
	height: 3vw;
	width: 3vw;
	border-radius: 6px;
	background: #DADADA;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
}  */


.outline {
	border: 2px double rgba(30, 30, 30, 0.2)
}

.rounded {
	border-radius: 10px;
}

.hidden {
	display: none;
}

.glass {
	background-color: rgba(5, 5, 5, 0.2);
	backdrop-filter: blur(3px);
	box-shadow: 0 0 10px rgba(150, 150, 150, .8);
	/*box-shadow: inset 0px 0px 2px 2px white;*/
}

.white, .red, .purple {
	color: #151415;
	box-shadow: 0 0 10px rgba(150, 150, 150, .8);
	border: 2px double black;
}
.white {
	background-color: #f3f3f3;
}
.red {
	background-color: #b83232;
}
.purple {
	color: white;
	background-color: #42034a;
}

#menu-button {
	position: fixed;
	top: 10px;
	left: 10px;
}

#menu-button button {
	height: 30px;
}

input[type="text"] {
	width: 80%;
	border: 0px solid black;
	box-shadow: 0 0 2px black;
	border-radius: 3px;
}