canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
#component-menu, #node-menu {
    padding: 10px;
    left: 100px;
    position: absolute;
    object-fit: contain;
    height: 100px;
}
#node-menu {
    width: 200px;
    height: 100px;
}
#component-menu > button {
    margin-top: 5px;
    height: 90px;
}
#component-menu > button > img {
    margin-top: 5px;
    height: 80%;
}