#main-container {
	position: absolute;
	border: 10px double green;
	padding: 0;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 180vh;
	max-height: calc(100vh-50px);
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box; */
}

#canvas {
	width: 60vw;
	height: 50vw;
	max-width:96vh;
	max-height: 80vh;
	/* display: block; */
}


#canvas-container {
	padding: 0;
	width:fit-content;
	height:fit-content;
	overflow: hidden;
	display: inline-block;
	top: 50%;
	/* transform: translateY(-50%); */
box-shadow: 0 0 10px black;
border-radius: 15px;
}
#menu {
	margin:5px;
	float: right;

	top: 0;
	width: 30vw;
	height: 50vw;
	max-width: 48vh;
	max-height: 80vh;
	background-color: white;

	/* top: 50vh; */
	/* transform: translateY(-50%); */
	right: 4vw;
} 